body {
  font-family: "Merchant", sans-serif;
}

.font-merchant {
  font-family: "Merchant", sans-serif;
}

.font-helvetica {
  font-family: "Helvetica Now Display", sans-serif;
}

.heading_border_white {
  border: 1px solid;
  width: 30px;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #ffffff 48.56%,
    rgba(0, 0, 0, 0) 100%
  );
}
.heading_border_black {
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #ffffff 48.56%,
    rgba(0, 0, 0, 0) 100%
  );
}
