@import "tailwindcss";
/* Helvetica Now Display Fonts */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helvetica/helveticaNowDisplay-regular.woff2")
      format("woff2"),
    url("/assets/fonts/helvetica/helveticaNowDisplay-regular.woff")
      format("woff"),
    url("/assets/fonts/helvetica/helveticaNowDisplay-regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helvetica/helveticaNowDisplay-bold.woff2")
      format("woff2"),
    url("/assets/fonts/helvetica/helveticaNowDisplay-bold.woff") format("woff"),
    url("/assets/fonts/helvetica/helveticaNowDisplay-bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helvetica/helveticaNowDisplay-medium.woff2")
      format("woff2"),
    url("/assets/fonts/helvetica/helveticaNowDisplay-medium.woff")
      format("woff"),
    url("/assets/fonts/helvetica/helveticaNowDisplay-medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-extLt.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-extLt.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-extLt.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-thinIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-thinIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-thinIta.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-light.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-light.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-boldIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-boldIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-boldIta.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-regIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-regIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-regIta.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-extLtIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-extLtIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-extLtIta.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-medIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-medIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-medIta.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-extBlk.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-extBlk.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-extBlk.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-extBdIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-extBdIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-extBdIta.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-extBlkIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-extBlkIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-extBlkIta.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-thin.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-thin.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-lightIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-lightIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-lightIta.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-extraBold.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-extraBold.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-extraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-hairlineI.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-hairlineI.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-hairlineI.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-blackIta.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-blackIta.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-blackIta.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-black.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-black.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/assets/fonts/helveticaNowDisplay-hairline.woff2") format("woff2"),
    url("/assets/fonts/helveticaNowDisplay-hairline.woff") format("woff"),
    url("/assets/fonts/helveticaNowDisplay-hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Merchant Fonts */
@font-face {
  font-family: "Merchant";
  src: url("/assets/fonts/merchant/merchant-light.woff2") format("woff2"),
    url("/assets/fonts/merchant/merchant-light.woff") format("woff"),
    url("/assets/fonts/merchant/merchant-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merchant";
  src: url("/assets/fonts/merchant/merchant-extraLight.woff2") format("woff2"),
    url("/assets/fonts/merchant/merchant-extraLight.woff") format("woff"),
    url("/assets/fonts/merchant/merchant-extraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merchant";
  src: url("/assets/fonts/merchant/merchant-regular.woff2") format("woff2"),
    url("/assets/fonts/merchant/merchant-regular.woff") format("woff"),
    url("/assets/fonts/merchant/merchant-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merchant";
  src: url("/assets/fonts/merchant/merchant-medium.woff2") format("woff2"),
    url("/assets/fonts/merchant/merchant-medium.woff") format("woff"),
    url("/assets/fonts/merchant/merchant-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merchant";
  src: url("/assets/fonts/merchant/merchant-bold.woff2") format("woff2"),
    url("/assets/fonts/merchant/merchant-bold.woff") format("woff"),
    url("/assets/fonts/merchant/merchant-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Merchant", sans-serif;
}

.font-merchant {
  font-family: "Merchant", sans-serif;
}

.font-helvetica {
  font-family: "Helvetica Now Display", sans-serif;
}

.heading_border_white {
  border: 1px solid;
  width: 30px;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #ffffff 48.56%,
    rgba(0, 0, 0, 0) 100%
  );
}
.heading_border_black {
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    #ffffff 48.56%,
    rgba(0, 0, 0, 0) 100%
  );
}

body {
  overflow-x: hidden;
}
.card-item {
  transform-origin: 50% -160%;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

.yarl__root {
  z-index: 999999 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #000;
  opacity: 1;

  padding: 10px;
  font-size: 20px !important;
}

.swiper-button-prev,
.swiper-button-next {
  height: 35px !important;
  width: 35px !important;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
}

/* new styles */

.banner-details {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -120px !important;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #fff;
  z-index: 99;
}
.banner-details div:not(:last-child) {
  border-right: 1px solid #fff;
}

.banner-details .banner-status,
.banner-details .banner-typology,
.banner-details .banner-price,
.banner-details .banner-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 5px;
  position: relative;
  transition: 0.4s ease-in;
}

.banner-details .banner-status h5,
.banner-details .banner-typology h5,
.banner-details .banner-price h5,
.banner-details .banner-plan h5 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 10px;
}

.banner-details .banner-status h5::after,
.banner-details .banner-typology h5::after,
.banner-details .banner-price h5::after,
.banner-details .banner-plan h5::after {
  position: absolute;
  content: "";
  width: 170px;
  height: 1px;
  top: 45%;
  left: 50%;
  background: #fff;
  transform: translateX(-50%);
}

.banner-details .banner-status h4,
.banner-details .banner-typology h4,
.banner-details .banner-price h4,
.banner-details .banner-plan h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.banner-details .banner-status,
.banner-details .banner-price,
.banner-details .banner-plan,
.banner-details .banner-typology {
  flex: 0.9;
}

.banner-details .banner-status:hover,
.banner-details .banner-typology:hover,
.banner-details .banner-price:hover,
.banner-details .banner-plan:hover {
  background: rgb(50, 101, 166, 0.7);
}

/* for banner */
.bg-gradient-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, transparent 20%), url('/banner-mobile.webp');
}

@media (min-width: 768px) {
  .bg-gradient-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, transparent 20%), url('/banner.webp');
  }
}

